<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href='/style.css'/>
  </head>
  <body>
    <h1 class="title">practice-log</h1>
    <h3 class="subtitle">achieving your dreams, bite by bite</h3>
    <div class="new container">
        <form class="signin" method="POST" href="new">
            <input class="user" type="text" placeholder="username or email">
            <input class="password" type="password" placeholder="enterpassword">
            <button class="signin" type="submit">Sign in</button>
        </form>
    </div>
    <a class="forgotpassword" href="forgotten">Forgot Username or Password?</a>
  </body>
</html>