<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href='/style.css'/>
  </head>
  <body>
    <h1 class="title">practice-log</h1>
    <h3 class="subtitle">achieving your dreams, bite by bite</h3>
    <div class="new container">
        <form class="signup" method="POST" href="new">
            <input class="username" type="text" placeholder="create a username">
            <input class="email" type="text" placeholder="type your email address">
            <input class="password" type="password" placeholder="create password">
            <input class="password repeat" type="password" placeholder="repeat password">
            <button class="create" type="submit">Create</button>
        </form>
    </div>
  </body>
</html>